;; -*- lfe -*-

#(project
  (#(meta
     (#(name dragon)
      #(description "The rebar3 dragon plugin")
      #(version "0.1.0")
      #(keywords ("LFE" "Lisp" "Plugin" "Web" "Framework"))
      #(license
        (#(name "Apache License, Version 2.0")
         #(url "http://www.apache.org/licenses/LICENSE-2.0")))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))
         (#(name "Eric Bailey")      #(email "eric@ericb.me"))))
      #(repos
        (#(github "lfex/rebar3-dragon")))))))
