{plugins,
 [{'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git",
    {tag, "0.2.2"}}}]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{deps,
 [ {lfe, {git, "git://github.com/rvirding/lfe.git", {tag, "0.10.1"}}}
 , {clj, {git, "git://github.com/lfex/clj.git",     {tag, "0.3.0"}}}
 ]}.
