;; -*- lfe -*-

#(project
  (#(meta
     (#(name {{name}})
      #(description {{desc}})
      #(version "0.1.0")
      #(keywords ("LFE" "Lisp" "Application"))
      #(license
        (#(name "Apache License, Version 2.0")
         #(url "http://www.apache.org/licenses/LICENSE-2.0")))
      #(maintainers
        ((#(name {{author_name}}) #(email {{author_email}}))))
      #(repos
        (#(github {{repo}})))))
   #(app
     (#(mod #({{name}} ()))))))
